.color {
  &--white {
    color: $white;
  }
  &--black {
    color: $black;
  }

  &--dark-06 {
    color: $dark-06;
  }
  &--dark-10 {
    color: $dark-10;
  }
  &--dark-12 {
    color: $dark-12;
  }
  &--dark-15 {
    color: $dark-15;
  }
  &--dark-20 {
    color: $dark-20;
  }
  &--dark-25 {
    color: $dark-25;
  }
  &--dark-30 {
    color: $dark-30;
  }
  &--dark-35 {
    color: $dark-35;
  }

  &--grey-40 {
    color: $grey-40;
  }
  &--grey-50 {
    color: $grey-50;
  }
  &--grey-70 {
    color: $grey-70;
  }
  &--grey-80 {
    color: $grey-80;
  }
  &--grey-90 {
    color: $grey-90;
  }
  &--grey-95 {
    color: $grey-95;
  }
  &--grey-97 {
    color: $grey-97;
  }
  &--grey-99 {
    color: $grey-99;
  }

  &--accent-60 {
    color: $accent-60;
  }
  &--accent-65 {
    color: $accent-65;
  }
  &--accent-70 {
    color: $accent-70;
  }
  &--accent-80 {
    color: $accent-80;
  }
  &--accent-90 {
    color: $accent-90;
  }
  &--accent-95 {
    color: $accent-95;
  }
  &--accent-97 {
    color: $accent-97;
  }
  &--accent-99 {
    color: $accent-99;
  }
}

.bg-color {
  &--white {
    background-color: $white;
  }
  &--black {
    background-color: $black;
  }

  &--dark-06 {
    background-color: $dark-06;
  }
  &--dark-10 {
    background-color: $dark-10;
  }
  &--dark-12 {
    background-color: $dark-12;
  }
  &--dark-15 {
    background-color: $dark-15;
  }
  &--dark-20 {
    background-color: $dark-20;
  }
  &--dark-25 {
    background-color: $dark-25;
  }
  &--dark-30 {
    background-color: $dark-30;
  }
  &--dark-35 {
    background-color: $dark-35;
  }

  &--grey-40 {
    background-color: $grey-40;
  }
  &--grey-50 {
    background-color: $grey-50;
  }
  &--grey-70 {
    background-color: $grey-70;
  }
  &--grey-80 {
    background-color: $grey-80;
  }
  &--grey-90 {
    background-color: $grey-90;
  }
  &--grey-95 {
    background-color: $grey-95;
  }
  &--grey-97 {
    background-color: $grey-97;
  }
  &--grey-99 {
    background-color: $grey-99;
  }

  &--accent-60 {
    background-color: $accent-60;
  }
  &--accent-65 {
    background-color: $accent-65;
  }
  &--accent-70 {
    background-color: $accent-70;
  }
  &--accent-80 {
    background-color: $accent-80;
  }
  &--accent-90 {
    background-color: $accent-90;
  }
  &--accent-95 {
    background-color: $accent-95;
  }
  &--accent-97 {
    background-color: $accent-97;
  }
  &--accent-99 {
    background-color: $accent-99;
  }
}