$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);

$dark-06: rgba(15, 15, 15, 1);
$dark-10: rgba(26, 26, 26, 1);
$dark-12: rgba(31, 31, 31, 1);
$dark-15: rgba(38, 38, 38, 1);
$dark-20: rgba(51, 51, 51, 1);
$dark-25: rgba(64, 64, 64, 1);
$dark-30: rgba(77, 77, 77, 1);
$dark-35: rgba(89, 89, 89, 1);

$grey-40: rgba(103, 103, 103, 1);
$grey-50: rgba(129, 129, 129, 1);
$grey-70: rgba(179, 179, 179, 1);
$grey-80: rgba(204, 204, 204, 1);
$grey-90: rgba(230, 230, 230, 1);
$grey-95: rgba(242, 242, 242, 1);
$grey-97: rgba(247, 247, 247, 1);
$grey-99: rgba(252, 252, 252, 1);

$accent-60: rgba(206, 125, 99, 1);
$accent-65: rgba(212, 142, 119, 1);
$accent-70: rgba(218, 158, 139, 1);
$accent-80: rgba(231, 180, 177, 1);
$accent-90: rgba(243, 223, 216, 1);
$accent-95: rgba(249, 239, 236, 1);
$accent-97: rgba(251, 245, 243, 1);
$accent-99: rgba(254, 251, 251, 1);

